---
import BlurFade from "@/components/ui/blur-fade";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Bomb from "@/assets/images/bomb.png";
import UsernameInputToggle from '@/components/app/index/username-input-toggle'
---

<Layout title="Página Inicial - Mines">
  <div class="flex flex-col items-center justify-center -mt-7">
    <div class="h-auto -mt-7 flex justify-center items-center">
      <Image
        src={Bomb}
        class="filter-shadow animate-shrink ml-3 sm:ml-5"
        alt="Logo do app, uma mina."
      />
    </div>
    <div class="text-center justify-center items-center mt-3 px-2 md:px-0">
      <BlurFade
        client:only="react"
        inView={true}
        inViewMargin="-50px"
        delay={1}
      >
        <h2 class="font-medium text-xl">Mines</h2>
        <h3 class="text-2xl md:text-3xl lg:text-4xl font-black mb-4 tracking-tighter mt-2 md:mt-5">
          Explore, arrisque e descubra sua sorte em cada passo!
        </h3>
        <p class="max-w-3xl mx-auto text-sm md:text-lg mb-5 md:mb-8 font-medium text-balance">
          Escolha seus blocos com cuidado, desvende prêmios incríveis a cada
          clique e teste sua coragem para avançar ainda mais, mas cuidado: uma
          mina pode encerrar sua sorte.
        </p>
        <UsernameInputToggle client:only />
      </BlurFade>
    </div>
  </div>
</Layout>

<style>
  .filter-shadow {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

  h2,
  h3,
  p {
    @apply text-gray-200;
  }
</style>
